<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>
<body>
  
  <div class="site">
        <div class="header">
        <nav class="site-nav">
          <ul>
        {% for pages in site.pages %}
          {% if pages.title %}
            <li><a href="{{ site.baseurl }}{{ pages.url }}" {% if page.name == pages.name %}class="active"{% endif %}>{{ pages.title }}</a></li>
          {% endif%}
        {% endfor %}
        </ul>
        </nav>
      </div>
      <h1>{{ page.title}}</h1>
      <h2>{{ page.description}}</h2>
      <hr>

  <div class="site-content">{{content}}</div>

</div>
</body>
</html>